/.tox/
fakeme/parsers/__pycache__/
/fakeme.egg-info/
/dist/
__pycache__/
/docs/_build
/docs/_static
/docs/_templates

/fakeme/__pycache__/
/tests/unittests/cli/__pycache__/
/tests/unittests/__pycache__/

/fakeme/*.pyc

/*.pyc
.DS_Store

.idea/
rules.json
/**/rules.json
examples/**/*.json